<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright (C), 2002-2017, 苏宁易购电子商务有限公司
  ~ FileName: web.xml
  ~ Author:   17081794
  ~ Date:     19-9-10 下午2:55
  ~ Description: webapp12
  ~ History: //修改记录
  ~ <author>      <time>      <version>    <desc>
  ~ 17081794     19-9-10 下午2:52      版本号        描述
  -->

<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">
    <servlet>
        <servlet-name>test</servlet-name>
        <servlet-class>servelt.CommonServlet</servlet-class>
    </servlet>
    
    <servlet>
        <servlet-name>testAsync</servlet-name>
        <servlet-class>servelt.AsyncServlet</servlet-class>
        <async-supported>true</async-supported>
    </servlet>
    
    <servlet-mapping>
        <servlet-name>test</servlet-name>
        <url-pattern>/test/request</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>testAsync</servlet-name>
        <url-pattern>/test/async-request</url-pattern>
    </servlet-mapping>
    
    <filter>
        <filter-name>commonFilter</filter-name>
        <filter-class>filter.CommonFilter</filter-class>
        <async-supported>true</async-supported>
    </filter>
    <filter-mapping>
        <filter-name>commonFilter</filter-name>
        <servlet-name>test</servlet-name>
    </filter-mapping>
    
    <filter-mapping>
        <filter-name>commonFilter</filter-name>
        <servlet-name>testAsync</servlet-name>
    </filter-mapping>

</web-app>